# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*~
\#*

#build related
*.trace
CMakeFiles
CMakeCache.txt
attic
basement
build

#editor related
.vscode

#python related
dist
*.egg-info
# Byte-compiled / optimized / DLL files
__pycache__/
